{
    padding: 0; 
    margin: 0;
}

h1 {
    text-align: center;
    background-color: rgb(215, 11, 11);
    color: white;
    padding: 20px;
    font-family: 'Rubik Puddles', cursive;
    font-size: 70px;
}
body{
    color: black;
}